.calculator {
    height: 420px;
    width: 258px;
    overflow: hidden;
    background-color:  rgb(224, 221, 221);

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 40px 40px 40px 40px;
  
}