.root{
    --bg-button: #ffffff;
    --border-button: solid  rgb(5, 0, 0)404;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1.4em;
    border-radius: 5px;
    border: 2px solid rgb(224, 221, 221);
    background-color: #fff;
    
    
    outline: none;
       
}

.button:active{
    background-color: #ccc;
}

.button.double{
    grid-column: span 2;
}

.button.triple{
    grid-column: span 3;
}

.button.equal{
    background-color: rgb(5, 57, 126);
    color: #ccc;
    font-weight: bold;
    columns: #fff;
}

