.root{
    --bg-button: #f0f0f0;
    --border-button: solid 2px rgb(5, 0, 0)404;
}

.button{
    font-size: 1.4em;
    border: 1px solid rgb(206, 177, 177);
    border-bottom: var(--border-button);
    outline: none;
    
}